* {
	box-sizing: border-box;
}

body{
	margin:auto;
	overflow-x: hidden; 
    overflow-y: auto;
}

.quilt{
	width: 1470px;
	height: 2200px;
	margin: auto;
	background-color: white;
	position: absolute;
}

.letter{
	cursor: s-resize;
}
.letterwide{
	cursor: e-resize;
}
.rowone{
	position:relative;
	display: inline-block;
	left: 220px;
	top: 120px;
}
.rowtwo{
	position: relative;
	top: 350px;
	left: 220px;
	display: inline-block;
	float:below;
}
.rowthree{
	position: relative;
	top: 590px;
	left: 220px;
	display: inline-block;
}
.rowfour{
	position: relative;
	top: 840px;
	left: 220px;
	display: inline-block;
	float:below;
}
.rowfive{
	position: relative;
	top: 1090px;
	left: 220px;
	display: inline-block;
	float:below;
}
.rowsix{
	position: relative;
	top: 1340px;
	left: 220px;
	display: inline-block;
	float:below;
}
.rowseven{
	position: relative;
	top: 1600px;
	left: 220px;
	display: inline-block;
	float:below;
}
.roweight{
	position: relative;
	top: 1950px;
	left: 220px;
	display: inline-block;
	float:below;
}


.letter{

}

.a{
	position: relative;
}

.b{
	position: relative;
	left: 180px;
}

.c{
	position: relative;
	left: 450px;
}

.d{
	position: relative;
	left: 630px;
}

.e{
	position: relative;
	left: 880px;
}
.f{
	position: relative;
	left: 0px;
}
.g{
	position: relative;
	left: 180px;
}
.h{
	position: relative;
	left: 450px;
}

.i{
	position: relative;
	left: 610px;
}

.j{
	position: relative;
	left: 830px;
}
.k{
	position: relative;
	left: 0px;
}
.l{
	position: relative;
	left: 180px;
}
.m{
	position: relative;
	left: 340px;
}
.n{
	position: relative;
	left: 610px;
}
.o{
	position: relative;
	left: 790px;
}
.p{
	position: relative;
	left: 0px;
}
.q{
	position: relative;
	left: 150px;
}
.r{
	position: relative;
	left: 400px;
}
.s{
	position: relative;
	left: 570px;
}
.t{
	position: relative;
	left: 670px;
}
.u{
	position: relative;
	left: 850px;
}
.v{
	position: relative;
	left: 0px;
}
.w{
	position: relative;
	left: 180px;
}
.x{
	position: relative;
	left: 430px;
}
.y{
	position: relative;
	left: 670px;
}
.z{
	position: relative;
	left: 840px;
}

.numberzero{
	position: relative;
	left: 0px;
}
.numberone{
	position: relative;
	left: 90px;
}
.numbertwo{
	position: relative;
	left: 240px;
}
.numberthree{
	position: relative;
	left: 400px;
}
.numberfour{
	position: relative;
	left: 550px;
}
.numberfive{
	position: relative;
	left: 690px;
}
.numbersix{
	position: relative;
	left: 840px;
}
.numberseven{
	position: relative;
	left: 0px;
}
.numbereight{
	position: relative;
	left: 150px;
}
.numbernine{
	position: relative;
	left: 310px;
}
.period{
	position: relative;
	left: 470px;
}
.comma{
	position: relative;
	left: 550px;
}
.yay{
	position: relative;
	left: 640px;

}
.quoteone{
	position: relative;
	left: 740px;
}
.quotetwo{
	position: relative;
	left: 760px;
}
.quoteone:active{
	animation: pulse 2s;

}
.quotetwo:active{
	animation: pulse 2s;
}

.yay:active{
	animation: pulse 2s;
}
.what{
	position: relative;
	left: 350px;
	animation: rubberBand 2s infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.circle{
	width: 20px;
	height: 20px;
	border: 2px solid #729B49;
	border-radius: 20px;
	position: absolute;
}

div.circle:hover{
	width: 20px;
	height: 20px;
	border: 2px solid #668945;
	border-radius: 20px;
	position: absolute;
}

.circle2{
	width: 20px;
	height: 20px;
	border: 2px solid #729B49;
	border-radius: 20px;
	position: absolute;
}

div.circle2:hover{
	width: 20px;
	height: 20px;
	border: 2px solid #94B96F;
	border-radius: 20px;
	position: absolute;
}

div.a:hover{

	/*transform:scalex(.5);
	transform:scaley(.9);*/
 }
 div.b:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/
 }
 div.c:hover{
	/*transform:scalex(.3);
	transform:scaley(.8);*/
 }
 div.d:hover{
	/*transform:scalex(.5);
	transform:scaley(.9);*/

 }
 div.e:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/
 }
 div.f:hover{
/*transform:scalex(1);
	transform:scaley(.8);*/
 }
  div.g:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/

 }
 div.h:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/

 }
 div.i:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/
 }
  div.j:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/
 }
  div.k:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/

 }
 div.l:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/
 }
 div.m:hover{
		/*transform:scalex(1);
	transform:scaley(.8);*/
 }

  div.n:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/
 }
  div.o:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/

 }
 div.p:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/
 }
 div.q:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/
 }
  div.r:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/
 }
  div.s:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/

 }
 div.t:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/
 }
 div.u:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/
 }
 div.v:hover{
	/*transform:scalex(1);
	transform:scaley(.8);*/
 }
 div.w:hover{
/*transform:scalex(1);
	transform:scaley(.8);*/
 }
  div.x:hover{
/*transform:scalex(1);
	transform:scaley(.8);*/
 }
  div.y:hover{
/*transform:scalex(1);
	transform:scaley(.8);*/

 }
 div.z:hover{
/*transform:scalex(1);
	transform:scaley(.8);*/
 }

 div.a:active{
	animation: bounce 2s;
	transition-delay: 2s;
 }


 @-webkit-keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}


 @keyframes bounce{
 	0%{
 		transform:scaley(1);
 		transform: rotate 2s;
 	}

 	50%{
 		transform:scaley(8);
 		transform: rotate 2s;
 	}

 	100%{
 		transform:scaley(.5);
 		transform: rotate 1s;
 	}
 }

 @keyframes bouncetwo{
 	0%{
 		transform: scalex(1);
 		transform: rotate 2s;
 	}
 	50%{
 		transform: scalex(5);
 		transform: rotate 2s;
 	}
 	100%{
 		transform: scalex(.5);
 		transform: rotate 2s;
	}
 }

  @keyframes bouncethree{
 	0%{
 		transform:scaley(1);
 		transform: rotate 2s;	
 	}
 	50%{
 		transform:scaley(12);
 		transform: rotate 2s;
 	}
 	100%{
 		transform:scaley(0.5); 
 		transform: rotate 2s;		
 	}
 }

 @keyframes bouncefour{
 	0%{
 		transform: scalex(1);
 		transform: rotate 2s;
 	}
 	50%{
 		transform: scalex(5);
 		transform: rotate 2s;
 	}
 	100%{
 		transform: scalex(.5);
 		transform: rotate 2s;
	}
 }
  @keyframes bouncefive{
 	0%{
 		transform: scaley(1);
 		transform: rotate 2s;
 	}
 	50%{
 		transform: scaley(3);
 		transform: rotate 2s;
 	}
 	100%{
 		transform: scaley(.5);
 		transform: rotate 2s;
	}
 }

 div.a:active{
	animation: bounce 6s;
	transition-delay: 5s;
 }

 div.a:active{
	animation: bounce 6s;
	transition-delay: 5s;
 }

div.b:active{
	animation: bouncefour 6s;
	transition-delay: 5s;
 }

div.c:active{
	animation: bounce 4s;
	transition-delay: 5s;
 }

div.d:active{
	animation: bouncetwo 5s;
	transition-delay: 5s;
	transform-origin: top left;
	}

div.e:active{
	animation: bouncethree 3s;
	transition-delay: 5s;
 }

div.f:active{
	animation: bouncethree 10s;
	transition-delay: 5s;
 }

 
div.g:active{
	animation: bouncefour 3s;
	transition-delay: 5s;
 }


div.h:active{
	animation: bouncethree 3s;
	transition-delay: 5s;
 }

 
div.i:active{
	animation: bounce 0.5s;
	transition-delay: 5s;
 }

 
div.j:active{
	animation: bouncethree 3s;
	transition-delay: 5s;
 }

 
div.k:active{
	animation: bouncethree 7s;
	transition-delay: 5s;
 }

 
div.l:active{
	animation: bouncethree 0.5s;
	transition-delay: 5s;
 }


 div.m:active{
	animation: bouncefour 5s;
	transition-delay: 5s;
 }

 
div.n:active{
	animation: bounce 3s;
	transition-delay: 5s;
 }

 
div.o:active{
	animation: bouncetwo .7s;
	transition-delay: 5s;

 }

 
div.p:active{
	animation: bounce 3s;
	transition-delay: 5s;
 }

 
div.q:active{
	animation: bouncetwo 5s;
	transition-delay: 5s;
 }

 
div.r:active{
	animation: bounce 4s;
	transition-delay: 5s;
 }

 

div.s:active{
	animation: bouncethree 0.5s;
	transition-delay: 5s;
 }

 
div.t:active{
	animation: bouncethree 5s;
	transition-delay: 5s;
 }

 
div.u:active{
	animation: bounce 0.5s;
	transition-delay: 5s;
 }

 
div.v:active{
	animation: bouncethree 0.5s;
	transition-delay: 5s;
 }

 
div.w:active{
	animation: bouncetwo .5s;
	transition-delay: 5s;
 }

 
div.x:active{
	animation: bouncefour 2s;
	transition-delay: 5s;
 }

 
div.y:active{
	animation: bouncethree 0.5s;
	transition-delay: 5s;
 }

div.z:active{
	animation: bounce 4s;
	transition-delay: 5s;
 }

div.numberzero:active{
	animation: bouncefive 0.7s;
	transition-delay: 5s;
 }
 div.numberone:active{
	animation: bouncefive 0.5s;
	transition-delay: 5s;
 }
div.numbertwo:active{
	animation: bouncefive 0.8s;
	transition-delay: 5s;
 }
 div.numberthree:active{
	animation: bouncefive 0.5s;
	transition-delay: 5s;
 }
 div.numberfour:active{
	animation: bouncefive 0.7s;
	transition-delay: 5s;
 }
div.numberfive:active{
	animation: bouncefive 0.5s;
	transition-delay: 5s;
 }
 div.numbersix:active{
	animation: bouncefive 0.5s;
	transition-delay: 5s;
 }

div.numberseven:active{
	animation: bouncefive 0.8s;
	transition-delay: 5s;
 }
div.numbereight:active{
	animation: bouncefive 0.5s;
	transition-delay: 5s;
 }
div.numbernine:active{
	animation: bouncefive 0.7s;
	transition-delay: 5s;
 }



.one {
	top: 0px;
}


.two {
	top: 10px;
}

.three {
	top: 20px;
}

.four {
	top: 30px;
}

.five {
	top: 40px;
}

.six {
	top: 50px;
}

.seven {
	top: 60px;
}

.eight {
	top: 70px;
}

.nine {
	top: 80px;
}

.ten {
	top: 90px;
}

.eleven {
	top: 100px;
}

.twelve {
	top: 110px;
}

.thirteen {
	top: 120px;
}

.fourteen {
	top: 130px;
}

.fifteen {
	top: 140px;
}

.sixteen {
	top: 150px;
}

.seventeen {
	top: 160px;
}

.eighteen {
	top: 170px;
}

.oneleft {
	left: 0px;
}

.twoleft {
	left: 10px;
}

.threeleft {
	left: 20px;
}

.fourleft {
	left: 30px;
}

.fiveleft {
	left: 40px;
}

.sixleft {
	left: 50px;
}

.sevenleft {
	left: 60px;
}

.eightleft {
	left: 70px;
}

.nineleft {
	left: 80px;
}

.tenleft {
	left: 90px;
}

.elevenleft {
	left: 100px;
}

.twelveleft {
	left: 110px;
}

.thirteenleft {
	left: 120px;
}

.fourteenleft {
	left: 130px;
}

.fifteenleft {
	left: 140px;
}

.sixteenleft {
	left: 150px;
}

.seventeenleft {
	left: 160px;
}

.eighteenleft {
	left: 170px;
}

/* far slants left*/
.oneslantleft{
	left: 100px;
	top: 0px;

}
.twoslantleft{
	left: 110px;
	top: 10px;
}

.threeslantleft{
	left: 120px;
	top: 20px;
}

.fourslantleft{
	left: 130px;
	top: 30px;
}
.fiveslantleft{
	left: 140px;
	top: 40px;
}

.sixslantleft{
	left: 150px;
	top: 50px;
}

.sevenslantleft{
	left: 160px;
	top: 60px;
}
.eightslantleft{
	left: 170px;
	top: 70px;
}
.eightslantleft{
	left: 180px;
	top: 80px;
}

/* slants left*/
.oneslantleftnear{
	left: 0px;
	top: 0px;
}
.twoslantleftnear{
	left: 10px;
	top: 10px;
}
.threeslantleftnear{
	left: 20px;
	top: 20px;
}

.fourslantleftnear{
	left: 30px;
	top: 30px;
}
.fiveslantleftnear{
	left: 40px;
	top: 40px;
}
.sixslantleftnear{
	left: 50px;
	top: 50px;
}
.sevenslantleftnear{
	left: 60px;
	top: 60px;
}
.eightslantleftnear{
	left: 70px;
	top: 70px;
}
.nineslantleftnear{
	left: 80px;
	top: 80px;
}
.tenslantleftnear{
	left: 90px;
	top: 90px;
}
.elevenslantleftnear{
	left: 100px;
	top: 100px;
}
.twelveslantleftnear{
	left: 110px;
	top: 110px;
}
.thirteenslantleftnear{
	left: 120px;
	top: 120px;
}
.fourteenslantleftnear{
	left: 130px;
	top: 130px;
}
.fifteenslantleftnear{
	left: 140px;
	top: 140px;
}
.sixteenslantleftnear{
	left: 150px;
	top: 150px;
}
.seventeenslantleftnear{
	left: 160px;
	top: 160px;
}

/* slants right*/
.oneslantright{
	left: 70px;
	top: 00px;
}
.twoslantright{
	left: 60px;
	top: 10px;
}
.threeslantright{
	left: 50px;
	top: 20px;
}

.fourslantright{
	left: 40px;
	top: 30px;
}
.fiveslantright{
	left: 30px;
	top: 40px;
}
.sixslantright{
	left: 20px;
	top: 50px;
}
.sevenslantright{
	left: 10px;
	top: 60px;
}
.eightslantright{
	left: 0px;
	top: 70px;
}
.nineslantright{
	left: -10px;
	top: 80px;
}
.tenslantright{
	left: -20px;
	top: 90px;
}
.elevenslantright{
	left: -30px;
	top: 100px;
}
.twelveslantright{
	left: -40px;
	top: 110px;
}
.thirteenslantright{
	left: -50px;
	top: 120px;
}
.fourteenslantright{
	left: -60px;
	top: 130px;
}
.fifteenslantright{
	left: -70px;
	top: 140px;
}
.sixteenslantright{
	left: -80px;
	top: 150px;
}
.seventeenslantright{
	left: -90px;
	top: 160px;
}


.left{
	position: relative;
}

.slantleftr{
	position: relative;
	top: 90px;
	left: 10px;
}
.slantleftx{
	position: relative;
	top: 0px;
	left: 0px;
}
.slantleftk{
	position: relative;
	top: 90px;
	left: 10px;
}
.slantrightk{
	position: relative;
	left: 10px;
}
.slantright{
	position: relative;
	left: 90px;
}
.slantrightv{
	position: relative;
	top: 120px;
	left: 10px;
}
.slantleftq{
	position: relative;
	top: 120px;
	left: 20px;
}
.slantleftv{
	position: relative;
	top: 120px;
	left: 0px;
}

.slantleft{
	position: relative;
}
.slantleftnear{
	position: relative;
	top: 120px;
}
.slantleftfaroandq{
	position: relative;
	left: 120px;
}
.slantleftnearoandq{
	position: relative;
	top: 120px;
}
.slantrightnearoandq{
	position: relative;
	top: 0px;
	left:-30px;
}
.slantrightfaroandq{
	position: relative;
	top: 120px;
	left:90px;
}
.slantrightfar{
	position: relative;
	left: 90px;
}



.mid{
	position: relative;
	left: 80px;
}
.right{
	position: relative;
	left: 160px;
}
.top{
	position: relative;
}
.crossbar{
	position: relative;
	top: 100px;
}
.bottom{
	position: relative;
	top: 160px;
}







