* {
	box-sizing: border-box;
}

body{
	margin:auto;
	background: linear-gradient(263deg, #119922, #a3ec5c, #96bd1c);
background-size: 600% 600%;

-webkit-animation: gradient 10s ease infinite;
animation: gradient 10s ease infinite;

@-webkit-keyframes gradient {
    0%{background-position:0% 57%}
    50%{background-position:100% 44%}
    100%{background-position:0% 57%}
}
@keyframes gradient { 
    0%{background-position:0% 57%}
    50%{background-position:100% 44%}
    100%{background-position:0% 57%}
}

}

.quilt{
	width: 1470px;
	height: 2000px;
	margin: auto;
	background-color: white;
}

.words{
	color: green;
	font-size: 20px;
	font-family: Helvetica;
	margin-top: 700px;
	margin-left: 700px;

	width: 300px;
}
.rowone{
	position:relative;
	display: inline-block;
	left: 220px;
	top: 120px;
	color:red;
}
.rowtwo{
	position: relative;
	top: 350px;
	left: 220px;
	color:red;
}
.rowthree{
	position: relative;
	top: 590px;
	left: 220px;

}
.rowfour{
	position: relative;
	top: 840px;
	left: 220px;

	float:below;
}
.rowfive{
	position: relative;
	top: 1090px;
	left: 220px;

	float:below;
}


.letter{

}

.a{
	position: relative;
}
div.a:hover{
	color: red;
}
.b{
	position: relative;
	left: 170px;
}
div.b:hover{
	color: red;
}
.c{
	position: relative;
	left: 420px;
}
div.c:hover{
	color: red;
}
.d{
	position: relative;
	left: 600px;
}
div.d:hover{
	color: red;
}
.e{
	position: relative;
	left: 850px;
}
.f{
	position: relative;
	left: 0px;
}
.g{
	position: relative;
	left: 700px;
}
.h{
	position: relative;
	left: 420px;
}

.i{
	position: relative;
	left: 390px;
}

.j{
	position: relative;
	left: 760px;
}
.k{
	position: relative;
	left: 0px;
}
.l{
	position: relative;
	left: 170px;
}
.m{
	position: relative;
	left: 340px;
}
.n{
	position: relative;
	left: 570px;
}
.o{
	position: relative;
	left: 770px;
}
.p{
	position: relative;
	left: 170px;
}
.q{
	position: relative;
	left: 160px;
}
.r{
	position: relative;
	left: 300px;
}
.s{
	position: relative;
	left: 30px;
}
.t{
	position: relative;
	left: 690px;
}
.u{
	position: relative;
	left: 430px;
}
.v{
	position: relative;
	left: 0px;
}
.w{
	position: relative;
	left: 180px;
}
.x{
	position: relative;
	left: 440px;
}
.y{
	position: relative;
	left: 700px;
}
.z{
	position: relative;
	left: 890px;
}

.circle{
	width: 20px;
	height: 20px;
	border: 2px solid green;
	border-radius: 20px;
	position: absolute;
}

  div.g:hover{
	transform:scale(25);


 }
 div.i:hover{
	transform:scale(5);

 }

 div.n:hover{
	transform:scale(5);

 }

 div.p:hover{
	transform:scalex(8);

 }
  div.r:hover{
	transform:scale(7);
 }
  div.s:hover{
	transform:scalex(10)


 }
 div.u:hover{
	transform:scalex(9);

 }
 



.one {
	top: 0px;
}


.two {
	top: 10px;
}

.three {
	top: 20px;
}

.four {
	top: 30px;
}

.five {
	top: 40px;
}

.six {
	top: 50px;
}

.seven {
	top: 60px;
}

.eight {
	top: 70px;
}

.nine {
	top: 80px;
}

.ten {
	top: 90px;
}

.eleven {
	top: 100px;
}

.twelve {
	top: 110px;
}

.thirteen {
	top: 120px;
}

.fourteen {
	top: 130px;
}

.fifteen {
	top: 140px;
}

.sixteen {
	top: 150px;
}

.seventeen {
	top: 160px;
}

.eighteen {
	top: 170px;
}

.oneleft {
	left: 0px;
}

.twoleft {
	left: 10px;
}

.threeleft {
	left: 20px;
}

.fourleft {
	left: 30px;
}

.fiveleft {
	left: 40px;
}

.sixleft {
	left: 50px;
}

.sevenleft {
	left: 60px;
}

.eightleft {
	left: 70px;
}

.nineleft {
	left: 80px;
}

.tenleft {
	left: 90px;
}

.elevenleft {
	left: 100px;
}

.twelveleft {
	left: 110px;
}

.thirteenleft {
	left: 120px;
}

.fourteenleft {
	left: 130px;
}

.fifteenleft {
	left: 140px;
}

.sixteenleft {
	left: 150px;
}

.seventeenleft {
	left: 160px;
}

.eighteenleft {
	left: 170px;
}

/* far slants left*/
.oneslantleft{
	left: 100px;
	top: 0px;

}
.twoslantleft{
	left: 110px;
	top: 10px;
}

.threeslantleft{
	left: 120px;
	top: 20px;
}

.fourslantleft{
	left: 130px;
	top: 30px;
}
.fiveslantleft{
	left: 140px;
	top: 40px;
}

.sixslantleft{
	left: 150px;
	top: 50px;
}

.sevenslantleft{
	left: 160px;
	top: 60px;
}
.eightslantleft{
	left: 170px;
	top: 70px;
}
.eightslantleft{
	left: 180px;
	top: 80px;
}

/* slants left*/
.oneslantleftnear{
	left: 0px;
	top: 0px;
}
.twoslantleftnear{
	left: 10px;
	top: 10px;
}
.threeslantleftnear{
	left: 20px;
	top: 20px;
}

.fourslantleftnear{
	left: 30px;
	top: 30px;
}
.fiveslantleftnear{
	left: 40px;
	top: 40px;
}
.sixslantleftnear{
	left: 50px;
	top: 50px;
}
.sevenslantleftnear{
	left: 60px;
	top: 60px;
}
.eightslantleftnear{
	left: 70px;
	top: 70px;
}
.nineslantleftnear{
	left: 80px;
	top: 80px;
}
.tenslantleftnear{
	left: 90px;
	top: 90px;
}
.elevenslantleftnear{
	left: 100px;
	top: 100px;
}
.twelveslantleftnear{
	left: 110px;
	top: 110px;
}
.thirteenslantleftnear{
	left: 120px;
	top: 120px;
}
.fourteenslantleftnear{
	left: 130px;
	top: 130px;
}
.fifteenslantleftnear{
	left: 140px;
	top: 140px;
}
.sixteenslantleftnear{
	left: 150px;
	top: 150px;
}
.seventeenslantleftnear{
	left: 160px;
	top: 160px;
}

/* slants right*/
.oneslantright{
	left: 70px;
	top: 00px;
}
.twoslantright{
	left: 60px;
	top: 10px;
}
.threeslantright{
	left: 50px;
	top: 20px;
}

.fourslantright{
	left: 40px;
	top: 30px;
}
.fiveslantright{
	left: 30px;
	top: 40px;
}
.sixslantright{
	left: 20px;
	top: 50px;
}
.sevenslantright{
	left: 10px;
	top: 60px;
}
.eightslantright{
	left: 0px;
	top: 70px;
}
.nineslantright{
	left: -10px;
	top: 80px;
}
.tenslantright{
	left: -20px;
	top: 90px;
}
.elevenslantright{
	left: -30px;
	top: 100px;
}
.twelveslantright{
	left: -40px;
	top: 110px;
}
.thirteenslantright{
	left: -50px;
	top: 120px;
}
.fourteenslantright{
	left: -60px;
	top: 130px;
}
.fifteenslantright{
	left: -70px;
	top: 140px;
}
.sixteenslantright{
	left: -80px;
	top: 150px;
}
.seventeenslantright{
	left: -90px;
	top: 160px;
}


.left{
	position: relative;
}

.slantleftr{
	position: relative;
	top: 90px;
	left: 10px;
}
.slantleftx{
	position: relative;
	top: 0px;
	left: 0px;
}
.slantleftk{
	position: relative;
	top: 90px;
	left: 10px;
}
.slantrightk{
	position: relative;
	left: 10px;
}
.slantright{
	position: relative;
	left: 90px;
}
.slantrightv{
	position: relative;
	top: 120px;
	left: 10px;
}
.slantleftq{
	position: relative;
	top: 120px;
	left: 20px;
}
.slantleftv{
	position: relative;
	top: 120px;
	left: 0px;
}

.slantleft{
	position: relative;
}
.slantleftnear{
	position: relative;
	top: 120px;
}
.slantleftfaroandq{
	position: relative;
	left: 120px;
}
.slantleftnearoandq{
	position: relative;
	top: 120px;
}
.slantrightnearoandq{
	position: relative;
	top: 0px;
	left:-30px;
}
.slantrightfaroandq{
	position: relative;
	top: 120px;
	left:90px;
}
.slantrightfar{
	position: relative;
	left: 90px;
}



.mid{
	position: relative;
	left: 80px;
}
.right{
	position: relative;
	left: 160px;
}
.top{
	position: relative;
}
.crossbar{
	position: relative;
	top: 100px;
}
.bottom{
	position: relative;
	top: 160px;
}









