html{
	overflow-y:hidden;
}

* {
	box-sizing: border-box;
}

body {
	background: white;
}

.canvas {
	width: 4000px;
	height: 928px;
	margin: 0px auto;
	margin-top: -7px;
	margin-left: -7px;
	background: white;
	position:absolute;


}

#title{
	position:fixed;
	width: 100vw;
	height:60px;
	margin-top: 20px;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	font-size: 120px;
	transform: scale(0.4);
}

#rowtwo{
	position:fixed;
	width: 4000px;
	height: 400px;
	top: 500px;
	left: 350px;
}

.base {
	top: 400px;
	left: 350px;
	position: relative;
	width: 4000px;
	height: 350px;
	-webkit-transform: skew(60deg);
	-moz-transform: skew(0deg);
	-o-transform: skew(0deg);
	background: #E62EB7;
	

}




.banana {
	top:170px;
	left:2500px;
	float:right;
	position: fixed;
	opacity: 1;
	transform: scale(0.2);

}

.banana01{
	top:110px;
	left:500px;
	float:right;
	position: absolute;
	opacity: 1;
	transform: scale(0.5);

}

.hotdog {
	top:400px;
	left:1300px;
	float:right;
	position: absolute;
	opacity: 1;
	transform: scale(1.2);
	transform: skew(25deg);
	transform: rotate( 90deg);

}
.hotdog2 {
	top:-180px;
	left:2300px;
	float:right;
	position: absolute;
	opacity: 1;
	transform: scale(0.09);

}
.burger1 {
	top:480px;
	left:1600px;
	float:right;
	position: absolute;
	opacity: 1;
	transform: scale(1.5);

}

.apple1 {
	top:-300px;
	left:2700px;
	float:right;
	position: absolute;
	opacity: 1;
	transform: scale(0.1);

}
.apple2 {
	top:-180px;
	left:1700px;
	float:right;
	position: absolute;
	opacity: 1;
	transform: scale(0.1);

}
.burger2 {
	top:500px;
	left:1350px;
	float:right;
	position: absolute;
	opacity: 1;
	transform: scale(0.5);

}
.burger3 {
	top:450px;
	left:700px;
	float:right;
	position: absolute;
	opacity: 1;
	transform: scale(0.4);

}

.martini {
	top:300px;
	left:1700px;

	position: absolute;
	float:right;
	opacity: 1;
	transform: scale(1);

}
.martini2 {
	top:550px;
	left:1000px;

	position: absolute;
	float:right;
	opacity: 1;
	transform: scale(.5);

}
.martini3 {
	top:400px;
	left:400px;
	position: absolute;
	float:right;
	opacity: 1;
	transform: scale(0.5);

}
.martini4 {
	top:400px;
	left:2000px;
	position: absolute;
	float:right;
	opacity: 1;
	transform: scale(1.5);

}
.banana:hover {
	
	opacity: 1;

}

.apple:hover {

	opacity: 1;

}

.martini:hover {
	
	opacity: 1;

}

#logo{
	top:20px;
	left:20px;
	position: fixed;
}
