* {
	box-sizing: border-box;
}

body {
	background: #cccccc;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: #F2F3F1;
	position: relative;
}

.base {
	top: 404px;
	left: 152px;
	position: absolute;
	width: 650px;
	height: 153px;
	-webkit-transform: skew(410deg);
	   -moz-transform: skew(0deg);
	     -o-transform: skew(0deg);
	background: #E62EB7;

}

.vase {
	left: 500px;
	top:300px;
	position:absolute;
	opacity: 0.9;
}

.bulb {
	top:330px;
	left:285px;
	position: absolute;
	width: 140px;
	height: 140px;
	background: white;
	-moz-border-radius: 70px;
	-webkit-border-radius: 70px;
	border-radius: 70px;
}


.pineapplebowl {
	top:380px;
	left:470px;
	position: absolute;
	display:block;
	width: 90px;
	height: 135px;
	background-color: #E3B627;
	-webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
	border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}

#pineappletop {
	top:-134px;
	left:-4px;
	position: absolute;
	width: 120px;
	height: 200px;
	background: #4B9242;
	-webkit-clip-path: polygon(41% 3%, 49% 28%, 57% 6%, 57% 41%, 75% 31%, 50% 70%, 34% 70%, 28% 56%, 16% 22%, 33% 34%);
clip-path: polygon(41% 3%, 49% 28%, 57% 6%, 57% 41%, 75% 31%, 50% 70%, 34% 70%, 28% 56%, 16% 22%, 33% 34%);
}

#pineappletop1 {
	top:-134px;
	left:-4px;
	position: absolute;
	width: 120px;
	height: 200px;
	background: #5D9D33;
	-webkit-clip-path: polygon(41% 3%, 49% 28%, 57% 6%, 57% 41%, 75% 31%, 50% 70%, 34% 70%, 28% 56%, 16% 22%, 33% 34%);
clip-path: polygon(41% 3%, 49% 28%, 57% 6%, 57% 41%, 75% 31%, 50% 70%, 34% 70%, 28% 56%, 16% 22%, 33% 34%);
}

#pineappletop2 {
	top:-110px;
	left:-30px;
	position: absolute;
	width: 170px;
	height: 170px;
	background: #509126;
	-webkit-clip-path: polygon(41% 3%, 49% 28%, 57% 6%, 57% 41%, 75% 31%, 50% 70%, 34% 70%, 28% 56%, 16% 22%, 33% 34%);
clip-path: polygon(41% 3%, 49% 28%, 57% 6%, 57% 41%, 75% 31%, 50% 70%, 34% 70%, 28% 56%, 16% 22%, 33% 34%);
}

#pineappletop3 {
	top:-238px;
	left:-29px;
	position: absolute;
	width: 160px;
	height: 350px;
	background: #3E880E;
	-webkit-clip-path: polygon(41% 3%, 49% 28%, 57% 6%, 57% 41%, 75% 31%, 50% 70%, 34% 70%, 28% 56%, 16% 22%, 33% 34%);
clip-path: polygon(41% 3%, 49% 28%, 57% 6%, 57% 41%, 75% 31%, 50% 70%, 34% 70%, 28% 56%, 16% 22%, 33% 34%);
}

#pineappletop4 {
	top:-234px;
	left:-28px;
	position: absolute;
	width: 130px;
	height: 300px;
	background: #4E9F18;
	-webkit-clip-path: polygon(41% 3%, 49% 28%, 57% 6%, 57% 41%, 75% 31%, 50% 70%, 34% 70%, 28% 56%, 16% 22%, 33% 34%);
clip-path: polygon(41% 3%, 49% 28%, 57% 6%, 57% 41%, 75% 31%, 50% 70%, 34% 70%, 28% 56%, 16% 22%, 33% 34%);
}

#bowl {
	top:65px;
	position: absolute;
	display:block;
	width: 123px;
	height: 120px;
	background-color: #77A80E;
	-webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
	border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;
}

#neck {
	left:50px;
	position: absolute;
	display:block;
	width: 20px;
	height: 100px;
	background: #77A80E;
}


#curveneck {
	left:9px;
	position: absolute;
	width: 0;
	height: 0;
	border-left: 51px solid transparent;
	border-right: 53px solid transparent;
	border-bottom: 99px solid #77A80E;
}

#heart {
    position: relative;
    width: 8px;
    height: 20px;
    opacity: 0.9;
    top:185px;
	left:539px;
	transform: rotate(345deg);
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 8px;
    top: 0;
    width: 10px;
    height: 20px;
    background: #E62EB7;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}

.flower {
	top:80px;
	left:455px;
	position: absolute;
	width: 170px;
	height: 170px;
	background: #F8930A;
	-webkit-clip-path: polygon(40% 13%, 49% 41%, 54% 16%, 54% 53%, 76% 45%, 50% 70%, 0 57%, 45% 62%, 22% 30%, 42% 46%);
	clip-path: polygon(40% 13%, 49% 41%, 54% 16%, 54% 53%, 76% 45%, 50% 70%, 0 57%, 45% 62%, 22% 30%, 42% 46%);
	transform: rotate(340deg);
}

.flower2 {
	top:80px;
	left:455px;
	position: absolute;
	width: 190px;
	height: 170px;
	background: #hotpink;
	-webkit-clip-path: polygon(40% 13%, 49% 41%, 54% 16%, 54% 53%, 76% 45%, 50% 70%, 0 57%, 45% 62%, 22% 30%, 42% 46%);
	clip-path: polygon(40% 13%, 49% 41%, 54% 16%, 54% 53%, 76% 45%, 50% 70%, 0 57%, 45% 62%, 22% 30%, 42% 46%);
	transform: rotate(340deg);
	opacity: 0.9;
}

.stem {
	top:180px;
	left:558px;
	position: absolute;
	display:block;
	width: 5px;
	height: 300px;
	background: #8C8C05;
	transform: rotate(175deg);
}

