body{
	background-color: red;

}

h1{
	font-family: 'Crimson Text', serif;
	font-size: 80px;
	color: white;

}



a{

	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: white;
	font-size: 40px;





}