body {
    background-image: url("monogram.gif");
    background-size: 1436px 740px;
    background-image: no-repeat;
    text-align: center;
}


h1{
	font-family: 'Averia Serif Libre', cursive;
	font-size: 60px;
	color: #D81B60;
	text-align: center;

}
h2{
	font-family: 'Averia Serif Libre', cursive;
	font-size: 80px;
	color: #D81B60;
	text-align: center;

}



a{

	font-family: 'Averia Serif Libre', cursive;
	text-align: center;
	text-decoration: none;
	color: #D81B60;
	font-size: 40px;
	


}